.container {
    padding: 1rem;
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.container .header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.container li {
    list-style: none;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
}

button.btn {
    font: inherit;
    cursor: pointer;
    border: none;
    background-color: rgb(76, 101, 169);
    color: #fff;
    margin-left: 0.3rem;
    padding: 0.25rem 1rem;
    border-radius: 4px;
    opacity: 0.8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

button.btn:hover,
button.btn:active {
    opacity: 1;
}

button.btn:disabled {
    opacity: 0.3;
    transition: 0;
}